* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0 auto;
  padding: 0;
}

.container {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.slogan {
  background-color: #333333;
  color: white;
  font-size: 50px;
}

.slogan .slogan__title {
  padding: 20px;
}

.result {
  margin-left: 20px;
}

.salary {
  margin-left: 20px;
}

.salary span, .salary input {
  display: block;
  margin: 10px 0;
}

.salary .button {
  background-color: #4185f2;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
}

.salary .salary__tax ul {
  display: inline;
}

.salary .salary__tax ul li {
  display: flex;
  list-style-type: none;
}

.salary .salary__tax ul li input {
  margin-right: 10px;
}

.salary .salary__tax ul li span {
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.salary .salary__tax ul li p {
  align-self: center;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 20px;
}

.table-container {
  padding: 20px;
}

.table-container .table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.table-container .table td, .table-container .table th {
  border: 1px solid black;
  padding: 10px;
}

.table-container .table th {
  text-align: left;
}

.table-container .table td:last-child {
  text-align: right;
}

.profit {
  background-color: #333333;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.profit p {
  display: inline;
  padding: 20px;
}

.profit input {
  color: black;
  padding: 10px 20px;
}
