@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");
@import url("sass/media.css");
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #6a6a6b;
  margin: 0 auto;
  padding: 0;
}

.container {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.slogan {
  background-color: #004480;
  color: white;
  font-size: 50px;
}

.slogan .slogan__title {
  padding: 20px;
}

.result {
  margin-left: 20px;
}

.salary {
  margin-left: 20px;
}

.salary span, .salary input {
  display: block;
  margin: 10px 0;
}

.salary input {
  border-radius: 5px;
  border-image: none;
  padding: 3px;
}

.salary input:focus {
  outline: none;
}

.salary .button {
  background-color: #004480;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}

.salary .button:focus {
  outline: none;
}

.salary .statement {
  color: red;
}

.salary .hidden {
  display: none;
}

.salary .salary__tax ul {
  display: inline;
}

.salary .salary__tax ul li {
  display: flex;
  list-style-type: none;
}

.salary .salary__tax ul li input {
  margin-right: 10px;
}

.salary .salary__tax ul li span {
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.salary .salary__tax ul li p {
  align-self: center;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 20px;
}

.table-container {
  padding: 20px;
}

.table-container .table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.table-container .table td, .table-container .table th {
  border: 1px solid black;
  padding: 10px;
}

.table-container .table th {
  text-align: left;
}

.table-container .table td:last-child {
  text-align: right;
}

.table-container .table tr:nth-of-type(odd) {
  background-color: #e6f3ff;
}

.table-container .table tr:first-of-type {
  background-color: #cce7ff;
}

.profit {
  background-color: #004480;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.profit p {
  display: inline;
  padding: 20px;
}

.profit span {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  display: inline-block;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}
